
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: $font-stack;
}
html{
    scroll-behavior: smooth;
}
h2{
    font-family: $heading-font;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 30px 0; 
    backdrop-filter: blur(12px);

    @media (min-width:768px) {
        font-size: 40px;
    }
}

a{
    text-decoration: none;

    &:hover{
        color: $white;
    }
}