$dark-blue: #080063;
$violet-color: #4D43C2;
$light-violet: #cfcdf0;
$pr-font-color: black;
$white: #fff;
$bg-color: #B5B4C0;
$box-shadow: #929292;
$base-font-size: 20px;
$padding-default: 20px;
$font-stack: 'poppins', sans-serif;
$heading-font: 'Helvetica', sans-serif;


